/* src/App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #242121;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-left{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}


.search-bar {
  display: flex;
  
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding:15px;
  background-color: #303131;
  color: #fff;
  border: 1px solid #FFFFFF80;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 20px;
}
/* Book List styles */
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  background: #242121;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  max-width: 100%;
  height: auto;
}


/* Book Detail styles */
.book-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  background: #71C5F461;
  color:#D2D2D2;
  padding: 20px;
  border-radius: 4px;
  gap:40px;
  box-shadow: 0px 6px 4px 0px #00000040;

}

.book-detail h2 {
  font-size: 24px;
  color:#D2D2D2;
}

.book-detail img {
  width: 202.89px;
  height: 299.22px;
  top: 193.39px;
  left: 49px;
  border-radius: 2px;
  angle: 3.5 deg;
  
  
}

.book-detail p {
  font-size: 16px;
  margin: 10px 0;
  
}

.book-detail button {
  display: inline;
  margin-top: 10px;
  padding: 8px 16px;
  width: 150px;
  height: 50px;
  border: 1px solid #FFFFFF;
  color: #363131;
  background: #71C5F461;
  border-radius: 4px;
  font-size: 16px;
  gap:50px;
}

.book-detail button:hover {
  background-color: #6cadf1;
}
.book-info{
  display: flex;
  flex-direction: column;
}
.book-buttons{
  display: flex;
  flex-direction: row;
  gap:20px;
  justify-content: flex-end;
}
h2{
  color:white;
}